<header class="header">
  <div class="container">
    <div class="header__block">
      <img src="../img/logo.png" alt="logotype app" class="header__logo">
      <nav class="nav">
        <ul class="nav__list list-reset d-flex">
          <li class="nav__item"><a href="atm.html" class="nav__link btn-white btn">Банкоматы</a></li>
          <li class="nav__item"><a href="accounts.html" class="nav__link btn-white btn">Счета</a></li>
          <li class="nav__item"><a href="currency.html" class="nav__link btn-white btn">Валюта</a></li>
          <li class="nav__item"><a href="index.html" class="nav__link btn-white btn">Выйти</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
