<section class="account">
  <div class="container">
    <div class="account__block d-flex" id="accBlock">
      <div class="d-flex al-i-center">
        <h1 class="account__title title">
          Ваши счета
        </h1>

        <div class="account__select">
          <select class="js-choice">
            <option placeholder>Сортировка</option>
            <option value="1">По номеру</option>
            <option value="2">По балансу</option>
            <option value="3">По последней транзакции</option>
          </select>
        </div>
      </div>
      <button class="account__btn btn btn-blue btn-reset" id="createNewCheck">Создать новый счёт</button>
    </div>

    <div class="account__numbers" id="accContainer"></div>
  </div>
</section>
