<section class="history">
  <div class="container">

    <div class="history__block d-flex">
      <h1 class="history__title title">
        История баланса
      </h1>
      <button class="history__btn btn btn-blue btn-reset" id="btnBack">Вернуться назад</button>
    </div>

    <div class="history__container">

      <div class="view__hederBlock"></div>

      <div class="history__dynamic"></div>

      <div class="history__transaction"></div>

      <div class="history__historyTransactions"></div>

    </div>

  </div>
</section>
