<section class="hero">
  <div class="container">
    <div class="hero__block">
      <h1 class="hero__title">
        Вход в аккаунт
      </h1>
      <form action="#" class="hero__form d-flex fl-dr-col">

        <div class="hero__input" id="inpLog">
          <label for="login">Логин</label>
          <input
            type="text"
            id="login"
            autocomplete="username"
            placeholder="Login"
            name="login"
            onfocus="this.placeholder=''"
            onblur="this.placeholder='Login'">
        </div>

        <div class="hero__input" id="inpPass">
          <label for="password">Пароль</label>
          <input
            type="password"
            id="password"
            autocomplete="current-password"
            placeholder="Password"
            name="password"
            onfocus="this.placeholder=''"
            onblur="this.placeholder='Password'">
        </div>
        <a href="#" class="hero__btn btn-blue btn" id="btnEntry">Войти</a>
      </form>
    </div>
  </div>
</section>
